<ul class="nav nav-tabs" style="margin-bottom: 30px;">
  <li role="presentation" class="<%= 'active' if controller_name == 'energy_potential' && action_name == 'field_crops' %>"><%= link_to 'Ratarska biomasa'.html_safe, energy_potential_field_crops_path %></li>
  <li role="presentation" class="<%= 'active' if controller_name == 'energy_potential' && action_name == 'pruning_residues' %>"><%= link_to 'Orezana biomasa'.html_safe, energy_potential_pruning_residues_path %></li>
</ul>

<div class="row">
	<div class="col-lg-6">

		<%= form_tag energy_potential_compute_for_pruning_residues_path, {:remote => true, :class => 'form-horizontal'} do %>


			<div class="form-group" id="surface">
			  <label for="prh" class="col-sm-6 control-label text-primary">Ukupna obradiva površina <span class="text-muted">[ha]</span></label>
			  <div class="col-sm-6">
			    <%= text_field_tag 'prh', "", :class => "form-control allownumericwithdecimal", :id => "prh" %>
			  </div>
			</div>

			<hr/>

			<div class="form-group">
			  <label for="kultura" class="col-sm-6 control-label text-primary">Kultura</label>
			  <div class="col-sm-6">
			    <%= select_tag 'kultura', options_for_select([["Vlastita kultura", "vlastita"],
			    																							["Jabuka", "jabuka"],
			    																							["Šljiva", "sljiva"],
			    																							["Vinova loza", "vinova_loza"],
			    																							["Maslina", "maslina"],
			    																							["Orah", "orah"],
			    																							["Višnja", "visnja"],
			    																							["Lješnjak", "ljesnjak"],
			    																							["Breskva i nektarina", "breskva_nektarina"],
			    																							["Kruška", "kruska"],
			    																							["Trešnja", "tresnja"],
			    																							["Marelica", "marelica"],
			    																							["Smokva", "smokva"],
			    																							["Naranča", "naranca"],
			    																							["Mandarinke", "mandarinka"],
			    																							], "vlastita"), 
			    																							{:class => "form-control",
			    																							 :onchange => "cropChanged(this.value)",
			    																							 :id => "kultura"} %>
			  </div>
			</div>			

			<div class="form-group">
			  <label for="dov" class="col-sm-6 control-label text-primary">Ostatak nakon rezidbe <span class="text-muted">[t/ha]</span></label>
			  <div class="col-sm-6">
			    <%= text_field_tag 'ostatak', "", :class => "form-control allownumericwithdecimal", :id => "ostatak" %>
			  </div>
			</div>

			<div class="form-group">
			  <label for="dov" class="col-sm-6 control-label text-primary">Donja ogrjevna vrijednost <span class="text-muted">[MJ/t]</span></label>
			  <div class="col-sm-6">
			    <%= text_field_tag 'dov', "", :class => "form-control allownumericwithdecimal", :id => "dov" %>
			  </div>
			</div>

			<hr/>

		  <div class="form-group">
		    <div class="col-sm-6">
		      <button type="button" class="btn btn-default col-sm-12" onclick="erase()"><i class="fa fa-eraser"></i> Očisti</button>
		    </div>
		    <div class="col-sm-6">
		      <button type="submit" class="btn btn-primary col-sm-12" onclick="showLoader()"><i class="fa fa-cogs"></i> Izračunaj</button>
		    </div>
		  </div>

		<% end %>		

	</div>

	<div class="col-lg-6">

		<div class="text-center" id="loader" hidden>
			<%= image_tag "loader.gif" %>
		</div>

		<div class="alert alert-danger" id="errorNotice" hidden>
		  <strong>Pogreška!</strong> Sva polja su obavezna.
		</div>

		<div class="panel with-nav-tabs panel-primary" id="resultTable" hidden>
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#total" data-toggle="tab"><i class="fa fa-leaf"></i> Ukupni energetski potencijal</a></li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown"><i class="fa fa-recycle"></i> Pretvorba energije <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
              	<a href="#heat" data-toggle="tab">
            			<span class="fa-stack">
									  <i class="fa fa-square-o fa-stack-2x"></i>
									  <i class="fa fa-fire fa-stack-1x"></i>
									</span>
									<span style="padding-left: 5px;">
										Toplinska energija
									</span>																				
								</a>
							</li>
              <li>
              	<a href="#electricity" data-toggle="tab">
            	    <span class="fa-stack">
									  <i class="fa fa-square-o fa-stack-2x"></i>
									  <i class="fa fa-bolt fa-stack-1x"></i>
									</span>
									<span style="padding-left: 5px;">
										Električna energija
									</span>
								</a>
							</li>
							<li>
								<a href="#chp" data-toggle="tab">
            	    <span class="fa-stack">
									  <i class="fa fa-square-o fa-stack-2x"></i>
									  <i class="fa fa-random fa-stack-1x"></i>
									</span>
									<span style="padding-left: 5px;">
										CHP (kogeneracija)
									</span>
								</a>
							</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="total">
          	<p>
          		Ukupni energetski potencijal izračunat je na osnovi literaturnih podataka o količinama raspoložive biomase, 
          		ukupnih površina i prinosa. Formule izračuna izvedene su u priloženom diplomskom radu (<%= link_to '<i class="fa fa-file-pdf-o"></i> PDF'.html_safe, asset_path("diplomski_rad.pdf"), :target => "_blank", :class => "links" %>). 
          	</p>
          	<table class="table table-bordered">
          		<tbody>
								<tr class="active small">
									<td>Mega joule</td>
									<td>Tera joule</td>
									<td>Peta joule</td>
								</tr>
								<tr class="small">
									<td><span id="resultMJ"></span> <span class="label label-primary">MJ</span></td>
									<td><span id="resultTJ"></span> <span class="label label-primary">TJ</span></td>
									<td><span id="resultPJ"></span> <span class="label label-primary">PJ</span></td>
								</tr>
          		</tbody>
          	</table>
          </div>

          <div class="tab-pane fade" id="heat">
          	<p>
          		Prema literaturnim podacima energetska iskoristivost biomase u sustavima proizvodnje toplinske energije iznosi 75-80%.
          		Prikazani podaci dobiveni su pod pretpostavkom energetske iskoristivosti od <b>80%</b>.
          	</p>
          	<table class="table table-bordered">
          		<tbody>
								<tr class="active small">
									<td>Mega joule</td>
									<td>Tera joule</td>
									<td>Peta joule</td>
								</tr>
								<tr class="small">
									<td><span id="resultHeatMJ"></span> <span class="label label-primary">MJ</span></td>
									<td><span id="resultHeatTJ"></span> <span class="label label-primary">TJ</span></td>
									<td><span id="resultHeatPJ"></span> <span class="label label-primary">PJ</span></td>
								</tr>
          		</tbody>
          	</table>          	
          </div>

          <div class="tab-pane fade" id="electricity">
          	<p>
          		Prema literaturnim podacima energetska iskoristivost biomase u sustavima proizvodnje električne energije iznosi 20-25%.
          		Prikazani podaci dobiveni su pod pretpostavkom energetske iskoristivosti od <b>25%</b>.
          	</p>
          	<table class="table table-bordered">
          		<tbody>
								<tr class="active small">
									<td>Kilovatsat</td>
									<td>Megavatsat</td>
									<td>Gigavatsat</td>
								</tr>
								<tr class="small">
									<td><span id="resultElectricityKWh"></span> <span class="label label-primary">kWh</span></td>
									<td><span id="resultElectricityMWh"></span> <span class="label label-primary">MWh</span></td>
									<td><span id="resultElectricityGWh"></span> <span class="label label-primary">GWh</span></td>
								</tr>
          		</tbody>
          	</table>
          	<p class="text-muted small">
          		<i class="fa fa-home"></i> Preračunata količina električne energije dovoljna je za godišnju opskrbu <b><span id="noHouseholdElectricity"></span></b> prosječnih kućanstava u RH.
          	<p/>
          	<p class="text-muted small">	
          		<i class="fa fa-money"></i> Prosječna kupovna cijena izračunate količine električne energije iznosi <b><span id="priceElectricity1"></span> kn</b>. Prodajna cijena iznosi <b><span id="priceElectricity2"></span> kn</b>.
          	</p>
          </div>

          <div class="tab-pane fade" id="chp">
          	<p>
          		Prema literaturnim podacima energetska iskoristivost biomase u sustavima istovremene proizvodnje toplinske i električne energije (kogeneracija) iznosi 75-80%. U kogeneracijskim sustavima omjer proizvedene količine toplinske energije naspram električne energije iznosi 10:3. Prikazani podaci izračunati su uzimajući u obzir proizvodni omjer <b>10:3</b> i energetsku iskoristivost od <b>80%</b>.
          	</p>	
          	<table class="table table-bordered">
          		<tbody>
          			<tr class="info">
          				<th colspan="3">
          					Toplinska energija (~ 77%)
          				</th>
          			</tr>
								<tr class="active small">
									<td>Mega joule</td>
									<td>Tera joule</td>
									<td>Peta joule</td>
								</tr>
								<tr class="small">
									<td><span id="resultCHPMJ"></span> <span class="label label-primary">MJ</span></td>
									<td><span id="resultCHPTJ"></span> <span class="label label-primary">TJ</span></td>
									<td><span id="resultCHPPJ"></span> <span class="label label-primary">PJ</span></td>
								</tr>
								<tr class="info">
          				<th colspan="3">
          					Električna energija (~ 23%)
          				</th>
          			</tr>
								<tr class="active small">
									<td>Kilovatsat</td>
									<td>Megavatsat</td>
									<td>Gigavatsat</td>
								</tr>
								<tr class="small">
									<td><span id="resultCHPkWh"></span> <span class="label label-primary">kWh</span></td>
									<td><span id="resultCHPMWh"></span> <span class="label label-primary">MWh</span></td>
									<td><span id="resultCHPGWh"></span> <span class="label label-primary">GWh</span></td>
								</tr>
          		</tbody>
          	</table>
          	<p class="text-muted small">
          		<i class="fa fa-home"></i> Preračunata količina električne energije dovoljna je za godišnju opskrbu <b><span id="noHouseholdCHP"></span></b> prosječnih kućanstava u RH.
          	<p/>
          	<p class="text-muted small">	
          		<i class="fa fa-money"></i> Prosječna kupovna cijena izračunate količine električne energije iznosi <b><span id="priceCHP1"></span> kn</b>. Prodajna cijena iznosi <b><span id="priceCHP2"></span> kn</b>.
          	</p>
          </div>
        </div>
      </div>
  	</div>

	</div>


</div>

<script type="text/javascript">

	$(function () {
    $(".allownumericwithdecimal").keydown(function (event) {

        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

        } else {
            event.preventDefault();
        }
        
        if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault();

    	});
		});

	function cropChanged(selected)
	{
  	switch(selected) {
    case "vlastita":
        $('#ostatak').val("");
        $("#dov").val("");
        $('#ostatak').prop('readonly', false);
        $('#dov').prop('readonly', false);
        break;
    case "jabuka":
        $('#ostatak').val("5.557");
        $("#dov").val("17060");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;
    case "sljiva":
        $('#ostatak').val("2.055");
        $("#dov").val("17120");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;
    case "vinova_loza":
        $('#ostatak').val("4.255");
        $("#dov").val("17050");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;    
    case "maslina":
        $('#ostatak').val("2.524");
        $("#dov").val("16910");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;
    case "orah":
        $('#ostatak').val("0.539");
        $("#dov").val("16310");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;
    case "visnja":
        $('#ostatak').val("2.169");
        $("#dov").val("17130");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;
    case "ljesnjak":
        $('#ostatak').val("1.848");
        $("#dov").val("17470");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;        
    case "breskva_nektarina":
        $('#ostatak').val("2.870");
        $("#dov").val("17730");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;
    case "kruska":
        $('#ostatak').val("5.819");
        $("#dov").val("16760");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;
    case "tresnja":
        $('#ostatak').val("1.988");
        $("#dov").val("16760");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;
    case "marelica":
        $('#ostatak').val("1.621");
        $("#dov").val("17190");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;
    case "smokva":
        $('#ostatak').val("1.282");
        $("#dov").val("15600");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;
    case "naranca":
        $('#ostatak').val("3.434");
        $("#dov").val("17400");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;
    case "mandarinka":
        $('#ostatak').val("2.9");
        $("#dov").val("17400");
        $('#ostatak').prop('readonly', true);
        $('#dov').prop('readonly', true);
        break;
		} 
	};

	function erase() {
		  $('#ostatak').val("");
      $("#dov").val("");
      $("#prh").val("");
      $("#kultura").val("vlastita");
      $('#ostatak').prop('readonly', false);
      $('#dov').prop('readonly', false);
      $('#errorNotice').hide();
      $('#resultTable').hide();
	}

	function showLoader() {
		$('#resultTable').hide();
		$('#loader').show();
	}

</script>
